[2016-05-17 00:05] andrerpena opened #1 "Validator is not working for array properties"

[2016-05-17 00:20] #1 closed

[2016-06-08 21:34] andrerpena opened #2 "Arrays are requested to specify a layout name"

[2016-06-12 12:45] #2 closed

[2016-06-12 12:47] andrerpena opened #3 "Support both vertical and inline forms"

[2016-06-12 12:47] andrerpena opened #4 "Support both edit and details mode"

[2016-06-12 13:06] andrerpena opened #5 "Define the context for metadata functions"

[2016-06-14 22:12] andrerpena opened #6 "Separate the CSS of the layout and basic components from the default component factory"

[2016-06-14 22:13] andrerpena opened #7 "Support innerSize"

[2016-06-14 22:24] #7 closed

[2016-06-14 22:24] andrerpena opened #8 "Support for field groups"

[2016-06-15 18:59] andrerpena opened #9 "Support IE11"
Current error: Object doesn't support property or method 'assign'

[2016-06-15 22:23] andrerpena opened #10 "Support webpack middleware"

[2016-06-15 22:23] andrerpena opened #11 "Migrate to SaSS"

[2016-06-15 23:18] andrerpena opened #12 "Support for the readOnly metadata"

[2016-06-16 19:46] #10 closed

[2016-06-16 19:46] #8 closed

[2016-06-16 19:46] #4 closed

[2016-06-16 19:47] #3 closed

[2016-06-16 19:47] andrerpena opened #14 "Add documentation"

[2016-06-16 23:01] andrerpena opened #15 "Support asynchronous validation"

[2016-06-16 23:02] andrerpena opened #16 "Support for asynchronous options loading for the Lookup component"

[2016-06-18 21:37] justingreenberg opened #18 "migrate to redux form v6"
first of all, thank you for your awesome work on this project! 💯

since redux form v6 release is right around the corner, it probably makes sense to consider the impact of these api changes sooner than later... https://github.com/erikras/redux-form/releases/tag/v6.0.0-alpha.15

http://redux-form.com/6.0.0-alpha.15/docs/MigrationGuide.md:

without digging too deep into both APIs, i wanted to ask if

[2016-06-18 22:22] andrerpena commented on #18
Thanks for the kind words and for the heads up.

I admit I wasn't even aware there was a v6 going on and I agree that migrating sooner is better than later. Yes, I want to migrate to v6 and I'll have this as a priority.

I'll start taking a look at it tomorrow and I'll post updates here as I go forward.

Thanks again.

[2016-06-18 22:28] #9 closed

[2016-06-18 22:28] andrerpena commented on #14
Documentation seems reasonable right now.

[2016-06-18 22:28] #14 closed

[2016-06-22 15:10] andrerpena commented on #6
Done

[2016-06-22 15:10] #6 closed

[2016-07-12 17:22] suchostone opened #20 "Match dateTimePicker.less case"
styles-defaultfactories.less content is as below, but lib/less/defaultFactories includes DateTimePicker.less with capital D.

// third party
@import './defaultFactories/Lookup';
@import './defaultFactories/dateTimePicker';
@import './defaultFactories/Checkbox';

Seems to be already fixed at source-code but npm install redux-autoform brings old version.

[2016-07-14 15:10] JonatanSalas opened #21 "Material UI support"
Hi, first of all, thanks for your project! I'm currently working with it, and it's a cool stuff.

I have been looking a little bit at your code, and some parts could be upgraded to ES6 sintax.. I would like to make a PR with this, and even more, I want to create a MaterialUIComponentFactory, for those who use material-ui in their projects.

Let me know what do you think about this.

[2016-07-15 13:54] andrerpena commented on #21
That's amazing. Feel free to create your PR. If you'd like a Skype call, let me know.

[2016-07-15 13:58] andrerpena commented on #21
Also, if you happen to become a frequent contributor, I'll invite you to the organization.

[2016-07-15 14:00] andrerpena commented on #20
Oh. Sorry for that. I'll republish the NPM.

[2016-07-15 14:11] andrerpena commented on #20
I made a new NPM publish, hope this fixes the issue

[2016-07-15 14:11] #20 closed

[2016-07-15 16:12] suchostone opened #22 "Reopen Match dateTimePicker.less case"
Hi! I have created this issue as #20 was already closed but after installing 0.6.2 version, lib/less/defaultFactories still includes DateTimePicker.less with capital D.

previous issue: https://github.com/gearz-lab/redux-autoform/issues/20

Thanks

[2016-07-15 17:08] andrerpena commented on #22
Sorry. This commit should have fixed it: https://github.com/gearz-lab/redux-autoform/commit/6d371df784d2b216cfafe0f0eabc57537a5e0a9d

[2016-07-15 17:08] #22 closed

[2016-07-15 17:13] JonatanSalas commented on #21
Great, I will be working on that, maybe in the weekend I will submit a PR with the changes :+1:
If I have some trouble, I will ask you in this issue!

[2016-07-15 17:13] andrerpena commented on #21
Deal. Thank you very much.

[2016-07-15 19:30] suchostone commented on #22
Thanks!

[2016-07-16 22:31] JonatanSalas commented on #21
@andrerpena I have made a PR for the es6 refactor #23! Hope you can check it as soon as you can!

[2016-07-16 22:34] JonatanSalas opened #24 "Dependency management suggestion"
Hi! I have seen a lot of libs using this project to update it's package.json dependencies, you could take a look at it:

https://greenkeeper.io/

It manages updates through individual PRs per dependency updated!
Hope it helps to you

[2016-07-16 23:04] andrerpena commented on #21
I'll do this first thing in the morning. Thank you very much for this

Em 16 de jul de 2016 19:31, "Jonatan E. Salas" notifications@github.com
escreveu:

[2016-07-17 00:05] JonatanSalas commented on #21
You are welcome! Glad to help your project grow!

[2016-07-17 14:24] andrerpena commented on #21
Let me know if you want write access

[2016-07-17 14:25] JonatanSalas commented on #21
If you want to give me write access I don't have any trouble!

I will keep working through PRs, so you can check the codebase I make and confirm if it works or needs thinks to solve, in order to not break the master branch!

[2016-07-17 14:38] andrerpena commented on #21
You have been invited @JonatanSalas

[2016-07-17 14:50] JonatanSalas commented on #21
Thanks! @andrerpena! For now I will start to work in material-ui integration.

[2016-07-17 14:54] JonatanSalas commented on #21
@andrerpena I been started to think that Autoform component could have a new property like uiType, that will be String. You could specify which type of UI you like Autoform get, for example "material-ui", "bootstrap" and internally match this type to a generic factory which determines what kind of ui-factory should use.

This type could be an option, not required, you could use this, or provide yo

[2016-07-17 14:59] andrerpena commented on #21
Are you suggesting that there would be 2 ways to choosing the factory.. one by explicitly passing it in, and the other by passing this prop that would allow Autoform to automatically pick a factory?

[2016-07-17 15:03] JonatanSalas commented on #21
Exactly, it's more easy if you want to use a built-in factory, avoiding you as a lib user to import the defaultEditComponentFactory, and passing it as props, and you keep maintaining the ability to pass a custom factory if you don't want to use the built-in's redux-autoform provide.

[2016-07-17 19:16] #24 closed

[2016-07-17 19:27] andrerpena commented on #21
How are we dealing with the demo? I kind of prefer that the Bootstrap and the Meterial demo to be completely separate, because the presets won't be the same. I mean, we can still leverage the editor and the layout and everything but making them apart.

Do you prefer it that way or do you think adding another "switch" in the demo is a good idea?

[2016-07-17 19:34] JonatanSalas commented on #21
Well, if you want we can make another demo for Material-ui, that's not a big trouble :)
First of all I will do the material-ui integration, and test that all it's working fine and well abstracted, and then after PR approbed I will make the demo work!

[2016-07-17 19:48] andrerpena commented on #21
@JonatanSalas But how are you testing without the Demo? I mean.. I created the Demo not for the people to see, but so I can debug it faster hauhauh.. just kidding.

[2016-07-17 19:49] andrerpena commented on #21
@JonatanSalas It's just my 2 cents but I kind of feel like we should start the Material with a demo.

[2016-07-17 20:03] JonatanSalas commented on #21
As an Isolated enviroment to test my components I use carte-blanche project. Do you know it? https://github.com/carteb/carte-blanche

[2016-07-17 20:05] andrerpena commented on #21
I'll take a look at it, thank you!

[2016-07-17 20:08] JonatanSalas commented on #21
Jaja you are welcome! :)

[2016-07-18 15:17] andrerpena opened #28 "Carte Blanche is not working"
@JonatanSalas , I'm trying to follow your suggestion of using Carte Blanche but when I set up it exactly like the docs say, it gives me this error:

![image](http://i.imgur.com/1nxe08A.png)

Steps to reproduce:

- Update the master branch to the latest version
- Uncomment these lines: https://github.com/gearz-lab/redux-autoform/commit/f67737859e6ac39dc51decd177abfd1a6852dcec#diff-d6a36c83884182f30

[2016-07-18 17:30] JonatanSalas commented on #28
@andrerpena I will take a look later and try to solve it! :)

[2016-07-18 18:24] andrerpena commented on #28
@JonatanSalas thank you. I'll do the same.

[2016-07-18 18:27] JonatanSalas commented on #21
@andrerpena I have notice that in your code you have two types of factory. An Edit factory and a DetailsFactory, could you explain me a little bit about this? :)

[2016-07-18 18:28] andrerpena commented on #21
@JonatanSalas , I'm thinking about renaming the components folder and the factories to indicate they are **bootstrap**, like this:

![bootstrap](http://i.imgur.com/khxqKlT.png)

See that there's no DefaultComponentFactory anymore. Now it's BootstrapEditComponentFactory.

What do you think? Can I do it and commit it?

[2016-07-18 18:29] andrerpena commented on #21
A details component factory is meant to be used for a details scenario (not for editing).
Actually.. I was envisioning 3 types of forms:
- Edit
- Details
- Search (similar to Edit, but this one supports grouping and operators like greater than).

If you have a better idea, please let me know.

[2016-07-18 18:42] JonatanSalas commented on #21
@andrerpena Well, I think it's good, but we could use a more modular approach like this:
- **components**
  - _bootstrap_
  - _material-ui_
- **factory**
  - _bootstrap_
  - _material-ui_
  - **ComponentFactory.js**
- **less**
  - _bootstrap_
  - _material-ui_
- **lib** -> _(this could be named as metadata or metadata-validator or something like this)_
- **AutoForm.js**
- **AutoFormInternal.js**
-

[2016-07-18 18:43] JonatanSalas commented on #21
@andrerpena thanks for the explanation about component factory types :)

[2016-07-18 18:52] andrerpena commented on #21
Ok, I agree with your directory structure proposal, are you doing this or do you want me to do it? I can only do this tonight.
Thank you.

[2016-07-18 18:55] JonatanSalas commented on #21
@andrerpena in the feature branch I'm developing I have organized the directory structure like this, so when I submit a PR with the changes you will see this structure.

Do you agree about a rename over lib folder? In this case, what name would you propose?

[2016-07-18 19:32] andrerpena commented on #21
@JonatanSalas

metadata is what most of this folder does, but it also deals with localization and it has some helpers like arrayHelper (which we can think of removing). I agree of renaming this folder to metadata as long as we take localization out. You can rename it now and we organize it better later.. or you can give your shot on the organization and I let you know of something I would change.

[2016-07-18 19:43] JonatanSalas commented on #21
Okey, I'm currently organizing it and I agree to renaming lib as metadata and extract localization! :)

[2016-07-18 20:35] JonatanSalas commented on #21
@andrerpena another question about **edit, details and search** component factory. It would be better if you have only one Factory per UI, and to get the edit/details/search one you pass a flag to it.

Do you agree?

[2016-07-18 20:58] andrerpena commented on #21
I agree. The reason why I didn't do it that way from the beginning was that
I wasn't really thinking in supporting multiple UI frameworks. I was more
interested in supporting multiple components. Go ahead. I agree to you.

Em 18 de jul de 2016 5:35 PM, "Jonatan E. Salas" notifications@github.com
escreveu:

[2016-07-18 21:19] JonatanSalas commented on #21
@andrerpena  I started to think that If we designed it a little bit we could extract the ui component factories into small units like:
- redux-autoform-material-ui
- redux-autoform-bootstrap
- redux-autoform-other-ui

And redux-autoform working as core library, making ui pluggeable. what do you think?

[2016-07-18 22:54] andrerpena commented on #21
Yes, that makes sense, as long as `redux-autoform` keeps being the main project, but I think that's how you're thinking too.

The advantage of this approach is that you, as a user, don't have to download a bunch of code/styles that you're not using, and that makes `redux-autoform` agostic of the UI framework.

Do you care making the refactoring? Do you need help? How do you think we should do it?

[2016-07-18 23:03] andrerpena commented on #28
Here are the errors:

[2016-07-18 23:04] andrerpena commented on #28
This error is because Windows is currently unsupported, which is my OS, so I'm closing this for now, and reverting the commit.

[2016-07-18 23:04] #28 closed

[2016-07-18 23:30] JonatanSalas commented on #21
And even too, we part the trouble in two, we separate the metadata management from ui, so we can focus on improvements on differents projects.

We can make a guideline too for those who want to create a ui library extension.

Well, actually I will submit you a PR with the library restructuration.

Then I will add material ui support in this library, and when we can abstract how to organize a ui pr

[2016-07-18 23:33] andrerpena commented on #21
Thank you very much @JonatanSalas , yes.. submit Material-UI as is and then we figure out how to split the projects apart.

[2016-07-19 01:02] JonatanSalas commented on #21
@andrerpena What are you going to do with redux-autoform, are you going to create an organization for it?

Tomorrow I will keep working with material-ui integration!

[2016-07-19 01:09] andrerpena commented on #21
@JonatanSalas, yes I will create an organization and invite you. How would you name it? Redux-Autoform?

[2016-07-19 01:10] andrerpena commented on #21
or something more creative...

[2016-07-19 01:12] JonatanSalas commented on #21
@andrerpena for now I think that Redux-Autoform is a good name, but we can make an issue to discuss about it. It would be good too if we can make a good logo for the organization :)

[2016-07-19 01:13] andrerpena commented on #21
@JonatanSalas sounds good. Expect an invitation shortly.

[2016-07-19 01:15] JonatanSalas commented on #21
@andrerpena okas! Thank you :+1:

[2016-07-19 01:58] andrerpena opened #30 "Create a decent logo (this one is a stub)"

[2016-07-19 02:02] andrerpena opened #31 "Remove the formato reference"
I created the 'formato' project because I didn't know about Numbro. This is now deprecated.

[2016-07-19 03:07] andrerpena opened #32 "Travis stopped working after the org migration"

[2016-07-19 10:37] JonatanSalas opened #33 "Radio Button on Demo"
When performing the code base refactor, I notice that we have a Radio component but it's not present on the demo.

Radio has an issue to solve? Or you forget to add it?

[2016-07-19 12:18] andrerpena commented on #33
I just didn't time to create the demo. I think it's working just fine. I can put it on the demo today =)

[2016-07-19 12:19] JonatanSalas commented on #33
okay! Thanks :)

[2016-07-19 12:19] JonatanSalas commented on #33
Can you change the name of the org from "redux-autoform" to "Redux Autoform"?

[2016-07-19 15:21] andrerpena commented on #33
About the renaming... Just did it.

[2016-07-19 15:22] andrerpena commented on #18
@JonatanSalas , this something we need to discuss ASAP. @erikras is reasling the v6 shortly.

[2016-07-19 15:22] suchostone opened #34 "Support for files upload"
Hi! Just wondering if you are planning to add any support for files upload.

Btw, the library is great.

Thanks in advace.

[2016-07-19 15:25] andrerpena commented on #18
Just so you know @erikras and @justingreenberg , @JonatanSalas is doing an excellent job on this repo and implementing MaterialUI support. It's gonna rock!

[2016-07-19 15:27] andrerpena commented on #34
That's a good suggestion @suchostone . Fortunately Redux-Form does have support so it's just a matter of creating the component and demos. I'm looking into it next weekend. Ok?

[2016-07-19 15:48] suchostone commented on #34
Sounds Excellent. Thanks!

[2016-07-19 17:15] andrerpena opened #35 "Support for an alternative and simpler syntax for schema"
redux-autoform's schema syntax is somewhat complex. There's need for this complexity but may be it should support a simpler alternative syntax that abstracts the concept of `entities` and `layouts`.

For instance, this would be enough for running a simple form:

[code]

This would also work:

[code]

The only problem with the above approach is that I favored `arrays` over `objects` and I did that

[2016-07-19 17:50] JonatanSalas commented on #35
We could simplify the usage of the lib as you said, letting the user create the schema in a more simpler approach, but in the code adapt this json to treat it as an array.
This will add a minor complexity to us as lib developers, but it's not a big trouble.

@andrerpena what do you think?

[2016-07-19 18:09] justingreenberg commented on #21
i know i'm a little late to the game here, but since there is a hard dependency on redux-form, i would suggest a name that includes it, ie. redux-form-auto or redux-form-builder

[2016-07-19 20:09] andrerpena commented on #18
@justingreenberg , thanks for the suggestion. 3 points:
- Autoform is a well established name that I believe people look for at the internet. [meteor-autoform](https://github.com/aldeed/meteor-autoform) is quite popular.
- We are based in Redux-Form and it's well credited in the description and in the docs.
- I didn't really like your alternatives, sorry :)

Thank you anyway.

[2016-07-19 20:18] justingreenberg commented on #18
all good, nothing to do with you guys not giving proper credit or the findability of lib, but it's definitely an open-source convention to include the name of base library in ecosystem extensions

op: https://github.com/redux-autoform/redux-autoform/issues/21#issuecomment-233717752

redux-form-factory has a nice ring to it, in my humble opinion 😄

[2016-07-19 20:53] JonatanSalas opened #36 "Add support for Wizard Form"
In redux-form there are some examples of types of forms, and one of them is the wizard form, I want to add support for this.

[2016-07-19 20:58] JonatanSalas opened #37 "New contributor"
@andrerpena one of my co-workers @danigomez wants to collaborate to this project. He will be helping me with the material-ui-addon.

Can I add him as an organization member? :)

[2016-07-19 21:03] andrerpena commented on #37
Yes I can. Thank you very much @danigomez https://github.com/danigomez
for your interest.

On Tue, Jul 19, 2016 at 5:58 PM, Jonatan E. Salas notifications@github.com
wrote:

##

André Rodrigues Pena

[2016-07-19 21:04] andrerpena commented on #36
Yes that makes sense.

[2016-07-19 21:05] andrerpena commented on #37
Just did it. Thank you.

[2016-07-19 21:05] #37 closed

[2016-07-19 21:09] JonatanSalas commented on #37
@andrerpena thanks to you too! :)

[2016-07-19 22:00] JonatanSalas opened #38 "Redux-Autoform features proposal"
I want to create this issue to be used as a thread for discussions about features or improvements over the redux-autoform API.

About a lot of exchanges we got the following list:

TODO:
- [ ]  Create a homepage
- [ ] Migrate redux-form from v5.X to v6.X when released and full tested.

DONE:
- [x] Make the library as a core and UI agnostic.
- [x] Make small git repositories for differents UI types

[2016-07-19 23:54] andrerpena commented on #35
@JonatanSalas Yes that's exactly the way I was thinking. The advantage of supporting a simpler syntax is that we can attract developers that don't need all those fancy features.

I'll refine the ideia and then I'll post a proposal here.

[2016-07-20 00:01] andrerpena commented on #38
That's a good compilation.

The UI project should be a "factory" (not necessarily called that way) that should be able to provide components given a "mode" and a "type" (this is based on your own idea). We can support 3 modes that I can think of right now: "edit", "details" and "search".

We can even get more flexible, I mean... What if the factory gets a "mode" and a "propertyMetadata"? This way.

[2016-07-20 00:07] JonatanSalas commented on #35
@andrerpena that's good! I agree that with this we can attract more people. This project is a big goal!

[2016-07-20 00:10] JonatanSalas commented on #38
@andrerpena I'm completely agree about the UI project as factory, and think about how to make it as flexible as possible.

We need to discuss about how to make the Styles from the UI projects as flexibles as possible too.

[2016-07-20 00:14] andrerpena opened #39 "Not force the dev to type http://localhost:4000/redux-autoform/demo.html while entering the demo"

[2016-07-20 00:17] andrerpena commented on #39
Working on this now...

[2016-07-20 00:20] JonatanSalas commented on #39
@andrerpena really great! :)

[2016-07-20 00:47] #39 closed

[2016-07-20 01:11] andrerpena commented on #33
Rejoice http://redux-autoform.github.io/redux-autoform/demo.html?preset=componentsRadio

[2016-07-20 01:11] #33 closed

[2016-07-20 01:18] andrerpena commented on #32
Probably GreenKeeper too. I'll look at it.

[2016-07-20 01:23] andrerpena commented on #38
Just created the under-development label. Please assign yourself to the task and add this label so I won't touch it. Does that make sense? Now you can see what's being done just by looking at: https://github.com/redux-autoform/redux-autoform/issues

[2016-07-20 01:48] JonatanSalas commented on #38
@andrerpena cool! I will use it, so we can now what we have assigned!

[2016-07-20 02:14] JonatanSalas commented on #38
@andrerpena I have created three repositories, with @danigomez, we will try to solve out how to extract the UI to different projects.

The projects are the following ones:
- One for material-ui
- One for bootstrap-ui
- One for boilerplate, it will work as starter kit for other UIs extensions

We are going to work on those git repositories, and then we are going to solve out how to integrate them w

[2016-07-20 02:16] andrerpena commented on #38
Amazing job. Let me know if you need any help.

[2016-07-20 02:19] JonatanSalas commented on #38
Bootstrap-ui seems to be easy to extract because it's already done, so we will start with this, and then we will go for material-ui!

If I need some help I will let you know!

[2016-07-20 02:29] andrerpena commented on #38
You are extracting the Bootstrap UI **as is** right? After that I can help making the enhanced factory that supports "mode", ok?

[2016-07-20 10:29] JonatanSalas commented on #38
Yes, I'm extracting as is! Good, thanks! :)

[2016-07-20 12:30] JonatanSalas commented on #38
@andrerpena could you guide me a little bit on how to publish a git repository into npm? :)

[2016-07-20 13:30] JonatanSalas commented on #38
@andrerpena we are going to do something like this in redux-autoform to integrate the other ui libs:

[code]

what do you think?

Other thing I want to ask you is that if we can create a branch directly in this project and work on it. We can define a milestone and then create a branch for this milestone and keep working till this version it's complete.

[2016-07-20 14:11] andrerpena commented on #38
In order to publish an NPM:
- Log into npmjs.com and create a user
- Make sure you have a proper packages.json for your project, other wise type `npm init`
- Type `npm adduser` or `npm add user` to login
- Type `npm publish`.

It's quite simple

[2016-07-20 14:15] andrerpena commented on #38
@JonatanSalas , sorry, I was thinking differently.

I don't think you need an UI manager, you just need import whatever factory you want and use it.

Example:

[code]

I mean.. `AutoForm` is now 100% agnostic of your factory.

After you do it, I'll work on **improving** the factory so it will support "mode" and add flexibility.

Does that make sense?

[2016-07-20 14:24] JonatanSalas commented on #38
@andrerpena, I'm thinking the code in the way that a lib user only type something like:

[code]

In this way, you abstract the developer that use the library from the concept of factory, and you let autoform to manage internally the factory creation.

In this way we add a bit more of responsability to redux-autoform, but since the ui is agnostic from the core that's not a big trouble, and with thi

[2016-07-20 14:41] andrerpena commented on #38
Can we agree on an intermidiate solution?

**We give the user 2 options**:

If you do this:

[code]

... than you can operate your magic and dynamically import the factory. **But there's still the case in which the user is importing a homebrew factory that is not an NPM module**, because of that, we should probably be able to import manually, using the same variable.

[code]

So it doesn't really

[2016-07-20 14:42] JonatanSalas commented on #38
Totally agreed on the intermediate proposal! :) Let's go for this approach!

[2016-07-20 14:56] JonatanSalas commented on #38
@andrerpena what about the work in branches from this project? Do you think it's good? Or you want us to fork and submit PRs? Let me know it! :)

[2016-07-20 15:16] andrerpena commented on #38
I don't really care if you submit PRs or directly commit to master as long as we're aligned on what and how you're doing stuff. As for branches.. I only use feature-branches for medium-to-complex features. Otherwise I just commit to master :)

[2016-07-20 15:31] danigomez opened #40 "Add the possibility to define callbacks for each event in Fields"
Hi @andrerpena, first for all thank you for including me in the organization! :smile:
I was thinking to allow the developer to include in each field a callback for an event. For example,

[code]

And do this for each type of event, this way each field will be more cutomizable.
What do you think??

[2016-07-20 16:03] andrerpena commented on #40
I like the idea and want to implement it, here are the things we should discuss before:

**Functions are automatically evaluated by RAF**
RAF evaluates every functions to literals before passing them to controls. This is how you can conditionally make a field visible. However, RAF ignores function metadata starting with $ or _ (I don't remember), so $onChange: () => {} will actually get to the com

[2016-07-20 17:23] JonatanSalas commented on #40
MongoDB actually supports save functions

https://docs.mongodb.com/manual/tutorial/store-javascript-function-on-server/

About this issue, it's interesting to add support for this, since it could let the user easily match it's own event handlers.

I will investigate a little bit and then we can advance on how to achieve it.

[2016-07-20 17:23] JonatanSalas commented on #40
MongoDB actually supports save functions

https://docs.mongodb.com/manual/tutorial/store-javascript-function-on-server/

About this issue, it's interesting to add support for this, since it could let the user easily match it's own event handlers.

I will investigate a little bit and then we can advance on how to achieve it.

[2016-07-20 17:27] JonatanSalas opened #41 "Select items should be able to be generated from a url"
We could add url metadata option to the select field, and the responsability for the select to fetch it's own resources.
This will be good in cases where you need to generate the select from data in a web service

[2016-07-20 21:59] andrerpena commented on #16
Closing in favor of #41

[2016-07-20 21:59] #16 closed

[2016-07-20 22:09] andrerpena commented on #41
We should do 2 things:
1. Make the `options` metadata compatible with 2 types: Array (As it is today) and a function that returns a Promise. This way we allow it to load data asynchronously.
2. Create a `url` metadata from which the Select should get the options.

**Bonus quest**:
Interdependent Selects is a pretty common use case. Example: You got a Select for **Province** and a Select for **City

[2016-07-20 22:12] andrerpena commented on #40
Thanks. I didn't know about Mongo supporting functions.

Anyway.. RAF **does** support functions currently so I wouldn't remove it. I'd just think of a textual altenative that would be more JSON compliant and easy to store.

Back to the topic of this thread, I'm totally in.

[2016-07-21 16:07] JonatanSalas commented on #38
@andrerpena we have a trouble with  @danigomez trying to publish a npm package, could you help us?

He got this error:

[code]

We are using es6 syntax, previously to publish the code on npm, we should transpile it to es5?

[2016-07-21 16:35] andrerpena commented on #38
@JonatanSalas  Oh yes defnititely...

RAF has a command called `build-lib`. You always have to call `build-lib` **before** publishing. You also have to make sure that you didn't publish the current version already. I mean, every time you publish, you got to go to the packages.json file and change the version.

[2016-07-21 16:36] andrerpena commented on #38
@JonatanSalas , the `build-lib` NPM command on RAF relys on a Node script that I've implemented. You should look into it from RAF and copy and paste inside each of the UI projects you are creating

[2016-07-21 16:37] JonatanSalas commented on #38
@andrerpena thank you so much! :smile:

[2016-07-21 16:37] andrerpena commented on #38
@JonatanSalas , also, don't forget the `.npmignore` file, because the `src` folder shouldn't be publish, but the `lib` folder which is generated by the `build-lib` script.

[2016-07-21 16:41] JonatanSalas commented on #38
@andrerpena I will start to migrate all the issues from ui to the ui libs git repositories, do you agree?

[2016-07-21 16:46] andrerpena commented on #38
@JonatanSalas Thank you very much.. That makes all sense.

[2016-07-21 16:49] JonatanSalas commented on #38
You are welcome! We are doing our best! :smile:

[2016-07-21 17:29] danigomez commented on #38
Hello!, I just published the first version of redux-autoform-bootstrap-ui and redux-autoform-utils!,
I moved the localizers, helpers and ComponentFactory to utils(After properly tested we should remove those files from redux-autoform and use the ones that are in redux-autoform-utils module).
Now those can be used in core and any other UI to create new implementations. :smile:

[2016-07-21 17:44] JonatanSalas commented on #38
I'm developing in redux-autoform a branch that makes the code to work with your npm packages @danigomez, if I finish it then I will try to merge with master the changes..

[2016-07-21 22:02] JonatanSalas commented on #32
This is currently working! I have edited Readme.md to generate the badge of travis-ci for the new url of this repo.

Now everything is fine. I will try to add codecov and coveralls. I have to edit the karma.config.js file.

[2016-07-21 22:02] #32 closed

[2016-07-21 22:03] JonatanSalas opened #42 "Update codecov and coverrals support"
I have to edit karma.config.js file from all git repositories to add support for coverrals and codecov.

[2016-07-21 22:23] andrerpena commented on #42
Do we need cupport for both coveralls and codecov? The only reason why I added codecov is because I couldn't make coveralls to work. Anyways.. none have worked :stuck_out_tongue_winking_eye:

[2016-07-21 22:26] JonatanSalas commented on #42
@andrerpena well, I'm looking how to make it work, coveralls or codecov needs to get the data from the karma execution. In our case, this is not resolved yet, so because of this, we can't see yet the coveralls/codecov results.

I have looked for this two projects:

https://github.com/caitp/karma-coveralls
https://github.com/kt3k/codecov-karma-example

Taking a look at both of them and putting hand

[2016-07-21 22:29] andrerpena commented on #42
I think I tried adding the karma script but it apparently continued not working... Hope you'll find the problem :smile:

[2016-07-21 23:38] andrerpena commented on #35
I'm going to add multiple micro non-breaking changes until this functionality is complete

[2016-07-21 23:46] JonatanSalas commented on #42
I will do my best to get this working! :smile:

[2016-07-22 00:28] andrerpena commented on #35
Objects are now supported instead of arrays for **everything**, example: https://github.com/redux-autoform/redux-autoform/blob/master/demo/presets/ComponentsCheckbox.txt

... but we can't close this because I still have to implement support for this:

[code]

[2016-07-22 00:46] JonatanSalas commented on #42
@andrerpena I have added it but it throws an error with status code 400 from codecov when finished the travis-ci build :/

I have to invest more time on this.

[2016-07-22 01:11] andrerpena commented on #35
When there's only 1 entity, now you DONT have to specify the entity name. The same is valid for layouts. This is important for the simple syntax I'm trying to achieve.

[2016-07-22 01:32] andrerpena commented on #35
Simple schema is now supported, tested and checked in. But I'm only closing this tomorrow because I have to republish the demo and I'm really tired right now.

Example: https://github.com/redux-autoform/redux-autoform/blob/master/demo/presets/schemaTypesSimple.txt

[2016-07-22 01:41] andrerpena commented on #42
god damn it.. thanks for your effort Jonatan.. Really.

[2016-07-22 01:45] JonatanSalas commented on #42
well, I will waste it for now, but some time later I will come back to make this work.

[2016-07-22 14:32] andrerpena commented on #35
Documentation: https://github.com/redux-autoform/redux-autoform/blob/master/docs-md/documentation.md#schema-format

Demo: http://redux-autoform.github.io/redux-autoform/demo.html?preset=schemaTypeSimple

[2016-07-22 14:32] #35 closed

[2016-07-22 14:41] andrerpena commented on #34
Working on this...

[2016-07-22 14:48] JonatanSalas commented on #35
Great work!!

[2016-07-22 15:34] tmc opened #43 "Nested entity support"
Would supporting nested and repeated entities be considered in-scope for this project?

[2016-07-22 17:56] andrerpena commented on #43
@tmc , what exactly do you mean by **nested** and **repeated** entities?

RAF supports one entity to be used inside the other, and they can be perfectly leveraged and used multiple times, see the default example in the demo: https://redux-autoform.github.io/redux-autoform/demo.html

What exactly is your use-case? I'll be glad to help.

[2016-07-22 18:25] JonatanSalas commented on #11
I will close this since I have opened it in redux-autoform-bootstrap-ui

[2016-07-22 18:25] #11 closed

[2016-07-22 18:27] tmc commented on #43
I overlooked that. Can the nesting be arbitrarily deep? For example, could you pull email type into it's own entity and have the email entity reference it?

[2016-07-22 18:33] tmc opened #45 "documentation.md broken link"
https://github.com/redux-autoform/redux-autoform/blob/master/docs-md/documentation.md references https://gearz-lab.github.io/redux-autoform/blob/master/src/MaterialUiComponentFactoryHelper.js

[2016-07-22 18:37] JonatanSalas commented on #45
@tmc I will take a look, this was a bad mine when performing one refactor! Thank you!

[2016-07-22 18:45] andrerpena commented on #43
Yes you can :)

[2016-07-22 18:57] #43 closed

[2016-07-22 18:58] tmc commented on #43
great!

[2016-07-22 20:09] andrerpena commented on #45
@JonatanSalas I was going to fix it but I couldn't even find it.

[2016-07-22 20:16] JonatanSalas commented on #45
In field section of documentation:

_"The list of possible values for type depends on which component is registered in the ComponentFactory. That is, foo is a valid value for type, as long as the ComponentFactory registered a component for foo. The list of valid types for the DefaultEditComponentFactory can be found **here**. size | The size of the component, in grid units. Values can range from 1

[2016-07-22 20:18] danigomez opened #46 "Remove underscore and clone libs and refactor code using native ES6 functions."
The following files are using functions provided by underscore and clone which can be replaced by native ES6 code.

- metadata\evaluator\filter\arrayMetadataFilter.js
- metadata\evaluator\filter\defaultMetadataFilter.js
- metadata\evaluator\filter\entityMetadataFilter.js
- metadata\evaluator\metadataEvaluator.js
- metadata\model\modelParser.js
- metadata\validator\metadataValidator.js
- metadata\M

[2016-07-22 20:21] JonatanSalas opened #47 "Proposal: Demo should be moved from redux-autoform"
I will explain why I think this should be better:

- We delete all dependencies need for the demo from the project
- Redux-autoform is the core of the library so only should be placed the main lib code
- Each demo could be placed in the gh-pages of the ui-projects, and we can point them by using the redux-autoform.github.io as repository for a homepage.

In this way we get everything more clean..

[2016-07-22 20:31] andrerpena commented on #46
I don't oppose to it, I just don't find it a priority. Feel free to do it :smile:

[2016-07-22 20:33] andrerpena commented on #47
This is definitely the best way. You can either put the demo on the gh-pages branch of each UI library or you can use that website repo you created.

[2016-07-22 20:39] JonatanSalas commented on #46
@andrerpena with this we reduce some dependencies, we use native es6 syntax and we could make the code for metadata management even more clear to read and understand.

[2016-07-22 20:41] danigomez commented on #46
Great! i will start to do this!

[2016-07-22 20:51] JonatanSalas commented on #47
@andrerpena Okey, I will work on the migration of the demo too.

[2016-07-22 22:53] suchostone commented on #41
Hi! are you planning to deliver this feature soon? thanks!

[2016-07-22 23:07] suchostone commented on #41
Will Lookup component include this feature as well? Thanks.

[2016-07-22 23:09] JonatanSalas commented on #41
@suchostone, I need to define some things with @andrerpena and then I will start to work on this.

[2016-07-23 15:45] andrerpena commented on #47
I'll moving the demo right now.

[2016-07-23 16:50] JonatanSalas commented on #47
Okay, thanks andré! Excuse me, I have no time to move it yesterday! :/

[2016-07-23 16:53] andrerpena commented on #47
@JonatanSalas don't worry. It's done and working. I'm just organizing the dependencies that are now useless and I'll publish this today.

[2016-07-23 17:01] JonatanSalas commented on #47
André, really cool! Thank you very much! :)

[2016-07-24 01:17] JonatanSalas commented on #30
This is almost done, I need to make it as svg to get better resolution fidelity. https://avatars3.githubusercontent.com/u/20527600?v=3&s=200

[2016-07-24 01:17] #30 closed

[2016-07-24 01:19] andrerpena commented on #30
I like it =)

Em 23 de jul de 2016 10:17 PM, "Jonatan E. Salas" notifications@github.com
escreveu:

[2016-07-24 01:45] JonatanSalas commented on #30
@andrerpena now it looks better, I have changed to get better resolution fidelity :)
https://avatars3.githubusercontent.com/u/20527600?v=3&s=200

[2016-07-24 01:51] andrerpena commented on #30
Very good. Looks great on my profile. Thanks for that.
PS: Why do you hide it on your profile?

[2016-07-24 01:54] JonatanSalas commented on #30
On my github profile doesn't appear? :open_mouth:

[2016-07-24 02:00] JonatanSalas commented on #30
Seems that by default github hides your membership to an organization and then you can choose to make it public, now you should be able to see it in my profile! :smile:

[2016-07-24 02:02] andrerpena commented on #30
Great!

[2016-07-24 14:56] JonatanSalas commented on #42
@andrerpena I finally discover how to add this! Working on it now! I have added codecov for redux-autoform-bootstrap-ui, I will add coverrals too! :)

[2016-07-24 14:59] andrerpena commented on #42
Congratulations. Great. Please just add both if they are both necessary.
The only reason I added codecov was that I couldn't make coveralls to work.
You pick.

Em 24 de jul de 2016 11:56 AM, "Jonatan E. Salas" notifications@github.com
escreveu:

[2016-07-24 15:01] JonatanSalas commented on #42
Yes, I will add both! :)

[2016-07-24 16:34] JonatanSalas commented on #42
@andrerpena this is almost done too.

[2016-07-24 16:34] #42 closed

[2016-07-24 22:10] andrerpena commented on #42
Perfect job!

[2016-07-24 23:07] JonatanSalas commented on #42
Took a time, but it's a great tool for us! :)

[2016-07-25 00:21] JonatanSalas opened #48 "Make focus on Testing to get a well percentage of code coverage"

[2016-07-25 13:08] danigomez opened #49 "Add tests for Metadata code."
Hello @andrerpena , in task #46   i'm using the demo to check my changes, but it will be awesome if we can have tests for this code in order to make sure that we are not breaking anything! :smile:

[2016-07-25 13:44] JonatanSalas commented on #49
Yes, this will be good because if we want to make some refactor or any addition to the code of the core, we don't break nothing, and we get a better coverage too.

[2016-07-25 13:51] danigomez commented on #47
Hi @andrerpena , we were thinking with Joni how to solve the two points, have the demo in other branch and also allow you to work with hot reload.
Our proposal is to create a new repo with all the UI modules as submodels, in this way when you clone the demo all the git repos of all the UIs that are submodules will be downloaded and the hot reload will be possible.
Also we want to add a combo in th

[2016-07-25 14:15] andrerpena commented on #47
I like the unified demo thing.

I just didn't understand how can I "work" on the components and at the same time have the demo to hot-load.. Can you elaborate?

[2016-07-25 14:52] danigomez commented on #47
What i mean is to have a repo, say, redux-autoform-demo which will have as git submodule redux-autoform-bootstrap-ui, redux-autoform-material-ui, etc, Because the git submodule downloads the code of the other repos as submodule, when you clone the redux-autoform-demo it will also download all the code of the UIs and then the demo will still working as is, but with te UI code in other repos. We wil

[2016-07-25 15:31] andrerpena commented on #47
Oh now I understand. Yes..please create a POC because this seems weird. I mean.. I use WebStorm and it has pull push features. I don't know if it supports submodules..  I mean..  Now it would have to ask me which repo I'm talking about when I hit push.

The idea is neat but should be tested. I don't think I've seen it elsewhere.

Thank you.

[2016-07-25 16:40] andrerpena commented on #47
Hey @JonatanSalas and @danigomez , I just thought about it thoroughly and the conclusion I got to is that we should not try to have separate branches for the demo, neither have a single unified demo. Here is why:
- Having the demo together with the UI itself doesn't mean we publish it to NPM. The NPM package has no demo at all, which means no footprint, or no overhead to the user of the library
-

[2016-07-25 17:12] JonatanSalas commented on #47
Let's keep it as is, and then when we get more advance on redux-autoform itself, we can try to get a better and simpler way to achieve this! :smile:

[2016-07-25 17:20] andrerpena commented on #47
Thanks for the comprehension. I already moved the demo to the bootstrap project and I'm closing this issue as soon as I manage to publish the LIVE demo.

[2016-07-25 17:27] JonatanSalas commented on #47
Excuse us! There is no trouble :smile:

[2016-07-25 19:18] JonatanSalas commented on #49
@andrerpena what's your opinion about this?

[2016-07-25 21:03] andrerpena commented on #49
I believe we currently only have tests for
- metadata\validator\metadataValidator.js
- metadata\MetadataProvider.js

I agree we should cover the rest. I'll take it.

[2016-07-25 21:05] JonatanSalas commented on #49
@andrerpena thank you very much!

[2016-07-26 01:50] andrerpena commented on #47
I got to publish the demo here: https://redux-autoform.github.io/redux-autoform-bootstrap-ui/demo.html

Things that still need to be done:
- Remove the demo from the RAF source project
- Remove the demo from the RAF gh-pages
- Update documentation

Really.. any help is appreciated :)

[2016-07-26 01:56] JonatanSalas commented on #47
Cool andré! We are going to do this things tomorrow! Nice work! :)

[2016-07-26 01:58] andrerpena commented on #47
What pushed me back was that god damn bug with the localizer and I coudn't publish it without solving it. It's over now. Thank you.

[2016-07-26 02:06] JonatanSalas commented on #47
Perfect job! This is growing faster! :)

[2016-07-26 12:29] JonatanSalas commented on #47
@andrerpena I only have to make an update on the documentation.

[2016-07-26 13:18] #46 closed

[2016-07-26 14:33] JonatanSalas commented on #41
We are now working on this redux-autoform/redux-autoform-bootstrap-ui#15

[2016-07-26 14:35] JonatanSalas commented on #41
I will close this issue since it's related to the UI project. Follow the referenced issue!

[2016-07-26 14:35] #41 closed

[2016-07-26 14:37] JonatanSalas commented on #34
@andrerpena what about this? Do you have any advance, let me know if you have done something. If not I will take this issue to make it work for bootstrap-ui redux-autoform/redux-autoform-bootstrap-ui#2 :smile:

[2016-07-26 14:38] JonatanSalas commented on #21
@andrerpena I will close this, since I'm working on a different git repo! :+1:

[2016-07-26 14:38] #21 closed

[2016-07-26 14:39] JonatanSalas commented on #31
@andrerpena where is located the formato reference? This is solved?

[2016-07-26 17:37] JonatanSalas commented on #34
I will close this issue since it comes related to bootstrap-ui, @andrerpena when you could please confirm to me if you have been putting an eye on this! :smile:

[2016-07-26 17:37] #34 closed

[2016-07-26 18:55] andrerpena commented on #34
I'm assigned to do it.. I just didn't it yet because I was dealing with the demo migration.

[2016-07-26 18:57] andrerpena commented on #34
@suchostone - This is the new issue so you can keep track: https://github.com/redux-autoform/redux-autoform-bootstrap-ui/issues/2

[2016-07-26 19:01] andrerpena commented on #31
Formato was being used for number/currency conversion. I did this because I didn't know Numbro existed. Fortmato is in the `gearz-lab` org. Keep me assigned on this. As soon I can take a look at it I'll remove it.

[2016-07-26 19:09] JonatanSalas commented on #31
Cool! Keep this issue as is :)

[2016-07-26 19:33] suchostone commented on #34
Thanks @andrerpena!

[2016-07-26 20:05] JonatanSalas opened #55 "Solve PhantomJS issue with MetadataProvider test"
When merge @danigomez refactor, we now that it was a trouble with MetadataProvider test when running with Karma on PhantomJS. It seems to be a trouble of phantomJS, needs a little bit of investigation.

[2016-07-26 21:00] andrerpena commented on #55
Can you link to the problem? What is that?

[2016-07-26 21:08] JonatanSalas commented on #55
@andrerpena The current build of the travis-ci is failing due to the phantomJS test, when running it with karma throws a:
`
         undefined is not a function/constructor`

Here is the log on travis-ci:

https://travis-ci.org/redux-autoform/redux-autoform/builds/147575071

[2016-07-27 00:05] andrerpena commented on #55
So.. it seems that `find` is not a function. This is the result of the attempt to remove underscore.

[2016-07-27 00:06] andrerpena commented on #55
I'll take a look at it now

[2016-07-27 00:09] danigomez commented on #55
It's not a problem with find, it seems to be a PhantomJS issue, the tests works correctly using the Chrome browser option in Karma, or running them directly with Mocha.....

[2016-07-27 00:09] JonatanSalas commented on #55
@andrerpena find is a function and exists because on chrome we can execute the test without a trouble, and chrome is a native browser, PhantomJS emulates the internal browser apis, so it could exist the posibility of a bad emulation that causes this issue.

[2016-07-27 00:13] andrerpena commented on #55
I see.. At least it's possible to reproduce locally using phantom

![image](https://cloud.githubusercontent.com/assets/1581429/17159714/c3bb2b2c-5375-11e6-88d7-6dc25494972c.png)

[2016-07-27 00:24] JonatanSalas commented on #55
Yes, that's the error :confused: we will try to investigate a bit about this and try solve it.

[2016-07-27 00:25] andrerpena commented on #55
Find is undefined specifically in this case:

![image](https://cloud.githubusercontent.com/assets/1581429/17159914/70a8cd0c-5377-11e6-9702-6b3123f1f51d.png)

This logs this:

![image](https://cloud.githubusercontent.com/assets/1581429/17159928/83aaf2d6-5377-11e6-9a62-9dd4a4702c98.png)

[2016-07-27 00:30] JonatanSalas commented on #55
okey.. this is because find is for arrays and it should iterate over fields.. okey :/

[2016-07-27 00:33] JonatanSalas commented on #55
Okey, excuse what I say before.

[2016-07-27 00:33] danigomez commented on #55
But, it is an array as i can see in the log....

[2016-07-27 00:33] andrerpena commented on #55
For some reason **this** array doesn't have find...

[2016-07-27 00:33] JonatanSalas commented on #55
Jaja bad mine, I looked fastly! :/

[2016-07-27 00:34] danigomez commented on #55
There is a polyfill in the PhantomJS for the find function.... https://github.com/ariya/phantomjs/issues/14054 , maybe that solves the issue!

[2016-07-27 00:35] andrerpena commented on #55
@danigomez great. Can you test then? Thank you.

[2016-07-27 00:39] andrerpena commented on #55
As a side note, @danigomez , I've seen you refactored all the methods to be _static_, which makes sense.. but does it makes sense to use **this** inside static methods? I mean.. I come from C# and this is like heresy. I know it works.. but **this** is for instance types. Wouldn't you agree?

[2016-07-27 00:40] JonatanSalas commented on #55
@andrerpena using the keyword "this" to reference a static method in ES6 is needed because, after all, a javascript class is a prototype at low level.. that is the reason that you need to use this.

[2016-07-27 00:41] JonatanSalas commented on #55
@andrerpena we come from java world and this is a little bit creepy... but sadly this is the way :/

[2016-07-27 00:44] andrerpena commented on #55
ok.. if that's how the world is today.. :disappointed: :smile: :smile:

[2016-07-27 00:45] danigomez commented on #55
Our eyes bleeded when we found out that we must bind all the methods to his class in the constructor in ES6 xD

[2016-07-27 00:45] JonatanSalas commented on #55
Seems strange for us... but we don't have to forget that javascript is prototype oriented, so It may vary a little bit much more than our precious c++ like languages jajaja

[2016-07-27 00:46] JonatanSalas commented on #55
@danigomez but then we found that class properties + arrow functions solved this dirty part of method binding jaja xD

[2016-07-27 01:27] danigomez commented on #55
Fixed! :smile:

[2016-07-27 01:27] #55 closed

[2016-07-27 02:03] andrerpena commented on #55
Great!

[2016-07-27 02:43] andrerpena commented on #47
Demo is now fine, documentation should be the problem now: https://github.com/redux-autoform/redux-autoform/issues/45

[2016-07-27 02:43] #47 closed

[2016-07-27 02:47] andrerpena commented on #45
This is my priority now. Once the house is clean again, I'll move to adding features.

[2016-07-27 12:59] danigomez commented on #5
Hello @andrerpena, what is this task about?? :stuck_out_tongue:

[2016-07-27 14:07] andrerpena commented on #5
So, I changed the title so it's more meaningful.

Here's the thing: Every metadata in RAF can be define both as a literal and a function. This function receives 2 parameters. The first one is the model. The second one is the context. The context is our opportunity to expose everything we think the developer will need.

Possible examples of helpers in the context (to be discussed):
- Number and dat

[2016-07-27 15:43] andrerpena commented on #45
I got good progress today on the Bootsrap project's documentation: https://github.com/redux-autoform/redux-autoform-bootstrap-ui

Now I'm focusing on making this one better.

**EDIT**: I wrongfully pointed to my own fork which is not updated.

[2016-07-27 16:04] danigomez commented on #36
@andrerpena we were thinking that also we can add the possibility to define a Conditional Wizard Form, it means that the user can also define which stepForm should be loaded using as condition the values loaded in the previous stepForm.
That way is possible to load differents options in each step of the Wizard Form depending of the values selected in the previous step.
What do you think??

[2016-07-27 16:48] andrerpena commented on #36
That's a good thing. Some thoughts:
- Today, the "model" is the one single form, now, the model can be the "wizard", in the sense that, all fields from all steps are grouped together in a single "model" or "data context". If a field is repeated on step 3, for some reason, it will retain the value, because it's referencing the same field in the model. It's as if we're creating a "data context" that

[2016-07-28 20:49] suchostone opened #56 "not able to overwrite redux-form destroyOnUnmount default"
Hi! when setting destroyOnUnmount false (default is true in redux-form) it does not get updated. Seems redux-auto-form is not taking in account this prop.

Thanks.

[2016-07-28 23:58] danigomez commented on #36
I agree!! :smile:

[2016-07-29 02:01] andrerpena commented on #56
@suchostone, this is because Redux-Autoform doesn't expect this prop. We should accept all props that Redux-Form accepts and just repass them. My fault. Sorry.

I'll take this problem this weekend.

Meanwhile, if you want to contribute and file a PR, all you have to do is to add new props to the `AutoForm` component and **repass** them to `AutoFormInternal`. I believe every property you pass to `A

[2016-07-29 02:12] JonatanSalas commented on #56
@andrerpena I will take it now!

[2016-07-29 02:19] andrerpena commented on #56
Thanks @jony. If you could see what other props are missing and add those as well that would be amazing. Thanks

[2016-07-29 02:40] JonatanSalas commented on #56
I have added a class that performs a save of props as a workaround to extract the properties from render method and pass them to the reduxForm decorator function. Also, I have added the prop reduxFormProps which expects an object containing redux form props.

now you should be able to do the following:

[code]

I haven't tested yet, but I expect this to be working. Tomorrow I will test it.

**PD:

[2016-07-29 02:51] andrerpena commented on #56
@JonatanSalas , thanks for your quick response and your effort. I made my considerations on your commit [here](https://github.com/redux-autoform/redux-autoform/commit/5e6c7f099a43baf594073e8a7accd9cb27505926).

[2016-07-29 20:40] JonatanSalas opened #57 "Should we remove Form from react-bootstrap?"
@andrerpena In AutoFormInternal is still imported and used the Form component from react-bootstrap.

[2016-07-29 21:08] danigomez commented on #57
I think that we should remove it!, in case that is needed to define some root element we can add a method in the UIs factory :smile:

[2016-07-29 21:26] JonatanSalas commented on #57
Cool. I think that we could replace for a normal form not bootstrap, delete the dependency.

[2016-07-30 15:58] andrerpena commented on #57
The only reason why I use React-Bootstrap's Form instead of a regular form is because React-Bootstrap provides a form and the Bootstrap-UI _already_ has a dependency on React-Bootstrap. I mean.. Removing the dependency is not having any impact on the bundle size or anything.

But yes.. if that's what you want to do, you can replace and use the regular <form/>

[2016-07-30 16:01] andrerpena commented on #56
So @JonatanSalas , you removed the `PropStore`, which is the right thing to do, but still we didn't solve the subject of this issue. I'll address it today

[2016-07-30 16:08] andrerpena opened #58 "Proposal for a new direction for this organization"
So, RAF is an interesting project but it's just one component of the project I envision. What I envision is a platform for creating data-centric business applications, like a CRM or a full-fledged ERP.

Three components that I can think about right now are:

- RAF (For building forms dynamically)
- Dashboard (For draggable widgets). React-grid-layout may be of use: https://github.com/STRML/react-g

[2016-07-30 22:05] JonatanSalas commented on #58
@andrerpena I really agree with that, and I think that @danigomez would not have any trouble too. So, If you want to, let's rename the organization. :smile:

[2016-07-30 22:06] JonatanSalas commented on #57
@andrerpena okey, I will do it so.. :smile:

[2016-07-30 22:07] JonatanSalas commented on #56
@andrerpena have you looked at it?

[2016-07-30 22:22] JonatanSalas commented on #57
I think i should look more closer to the code because of this:

[code]

The trouble here is because of the horizontal prop that react-bootstrap have..

[2016-07-30 22:23] danigomez commented on #58
i totally agree with the idea!, Go for it!

[2016-07-30 22:25] JonatanSalas commented on #15
@andrerpena we have to think about this, this is something really good!

[2016-07-30 22:27] danigomez commented on #57
We can add the root element in an UIs factory method!, in case the method return a root component we set the children groupComponent and React.createElement to it, otherwise if that root component is not defined in the factory we use a normal form!

[2016-07-30 22:30] JonatanSalas commented on #57
@danigomez totally agree with it! I will ping you a little bit on monday to do this! :smile:

[2016-07-31 01:47] andrerpena commented on #58
I'm glad to know you're in :smile:. Let's think of a good name for the organization now.

[2016-07-31 02:33] andrerpena commented on #56
As you can see [here](https://github.com/redux-autoform/redux-autoform/commit/8ba48838cb5a18a89605d5b4ae3429d3bb76c770), I added all the [props from Redux-Form](http://redux-form.com/5.3.1/#/api/reduxForm?_k=dic8ys) that I thought was safe, including the requested `destroyOnUnmount`.

However, because the bootstrap demo has been removed from RAF, I wasn't really able to test it, that's why I publi

[2016-07-31 02:34] andrerpena commented on #56
I'll leave this issue open until I finally have time to test it.

[2016-07-31 03:20] andrerpena commented on #57
Oh now I finally see the problem. I was thinking, what is the problem with using React-Bootstrap's form? The problem is that the form is inside `AutoFormInternal`, which shouldn't depend on Bootstrap.

Ok, now it makes absolute sense to replace it with a regular form and remove RAF's dependence on React-Bootstrap altogether.

[2016-07-31 03:23] andrerpena commented on #57
Also, about the field layout (stacked vs inline), don't bother with that. Let's make it Bootstrap only. Work with Material the way it's meant to be.

[2016-07-31 03:25] andrerpena commented on #57
Also, now I see why @danigomez is considering making the root element part of the Factory, that's because of the `horizontal` prop that is specific to Bootstrap. Actually.. the `horizontal` can be replaced by a css class.

Bottom line: **We can either make the root element part of the UI or we can just make the form CSS classes to be part of the UI**. Would just the CSS suffice?

[2016-07-31 15:47] JonatanSalas commented on #58
@andrerpena that's always a big problem jajajaj get a good name. Well, I will think and let you know!

[2016-08-01 12:05] juanih opened #60 "Pre loaded Radio Buttons aren't being shown "checked""
Hi Team, first of all congratulations for your work, the project is awesome.

I was trying to use forms with radio buttons and I have a problem to load initial values for them. Actually, the values are charged successfully, because they are sent into the form after submit, but the problem is in the browser. The radio buttons with initials values aren't being shown "cheked".

I try to use the follo

[2016-08-01 13:37] andrerpena commented on #60
Thanks for reporting. I'll take a look at it.

[2016-08-01 13:38] andrerpena commented on #60
I'm still involved with publishing and testing the Redux-Form props that were missing. If @JonatanSalas or @danigomez can take a look, that'd be great. Otherwise I'll looking into it right after.

[2016-08-01 13:44] andrerpena opened #61 "Create a really simple demo on redux-autoform to help testing it. Today's it's not really convenient"

[2016-08-01 15:39] JonatanSalas commented on #45
@andrerpena how it's this going?

[2016-08-01 17:32] andrerpena commented on #57
@JonatanSalas , because you are assigned to this task, here are some thoughts:

Today, what determines the UI type is the factory you pass in. The modes (edit, details and search) would change by passing different factories. So, if you want to operate in edit mode, you pass an edit factory. I'm thinking that it's better to replace these factories by a single "class", that would provide factories f

[2016-08-01 18:04] andrerpena commented on #57
Also, I think the related "task" to this "question" would be to remove Bootstrap dependency from RAF altogether.

[2016-08-01 18:19] JonatanSalas commented on #57
@andrerpena well, with @danigomez we have think about having a class that resolves the factories itself.

[2016-08-01 18:36] JonatanSalas commented on #57
@andrerpena @danigomez after a time on thinking about this, I would prefer to keep the code as simple as possible. The horizontal property is related to react-boostrap and could be emulated easy by just using css or inline styles. So I will delete the bootstrap form import and use a normal form and I will emulate this prop by css.

[2016-08-01 22:17] JonatanSalas commented on #57
Since this is already solved, I will close it.

[2016-08-01 22:22] andrerpena commented on #57
Yes, I mean, the only thing left is to make the form bootstrap-free. But you can close it if you want. I think it makes sense to close this question and to open an issue which is actually making it bootstrap-free. Even though the reference has been removed, it's still using a class that is bootstrap-specific.

[2016-08-01 22:26] JonatanSalas commented on #57
@andrerpena but it doesn't make so much trouble, because it only will work when bootstrap-ui it's used.
We have no direct dependency now on bootstrap, because if you just use material-ui then, it won't take the 'form-horizontal' className.

[2016-08-01 22:28] #57 closed

[2016-08-01 22:31] andrerpena commented on #57
Agreed!

[2016-08-02 00:26] andrerpena commented on #61
Done

[2016-08-02 00:26] #61 closed

[2016-08-02 00:28] andrerpena commented on #56
Should be fixed with the version 0.10.0

[2016-08-02 00:28] #56 closed

[2016-08-02 00:30] andrerpena commented on #45
@JonatanSalas  I just fixed #56 and #61 . Now I should be able to return to this one.

[2016-08-02 00:38] JonatanSalas commented on #45
Really good job! :)

[2016-08-02 00:57] andrerpena commented on #60
I think this commit should have fixed it: https://github.com/redux-autoform/redux-autoform-bootstrap-ui/commit/7b91acc69d3f909a9f6aeaaa944db9709286ef56

I already bumped the version but I could not publish because I don't have permission. @danigomez , can you please give me permission on npmjs? Thanks.

[2016-08-02 01:03] danigomez commented on #60
@andrerpena i was about to check this issue, but you already solved it! jajaja, cool!. Now you should be able to publish!

[2016-08-02 01:35] andrerpena commented on #60
@danigomez I was able to publish it now. Thank you. Yes.. I think I solved it (works on the local demo). If it doesn't work @juanih can reopen it.

[2016-08-02 01:35] #60 closed

[2016-08-02 03:19] suchostone commented on #56
it works! thanks!

[2016-08-02 11:53] juanih commented on #60
Thanks @andrerpena and @danigomez. You're working quickly!! I'll take a look and I reopen the issue if something doesn't work. Thanks!

[2016-08-02 14:04] JonatanSalas commented on #18
@andrerpena I have been taking a look at it, and a lot of things changed. Now everything turns around a component called Field that connects to the store and manage the fields and render a component you pass in.

This changes will make that our codebase for the UIs change a lot, after thinking I have been making an abstraction so we can convert all UI components to work with version 6.

We can cre

[2016-08-02 16:41] andrerpena commented on #18
@JonatanSalas , I'm glad you took time to look into it. A HOC may be a solution.
Can you please wait until this weekend before you start working on it? I'd like to create a POC with v6 and then discuss with you just to make sure we're heading in the right direction. This decision is critical.
Thank you.

[2016-08-02 16:47] JonatanSalas commented on #18
@andrerpena It's a proposal only, we can do this together if you want! :smile:

[2016-08-03 15:51] danigomez opened #63 "Add support for Questionnaire forms."
Hi @andrerpena!, we were thinking of another type of form that we can add :smile: , these forms will have a rollover and will show a percentage of advance while the user fills the fields, does it makes sense for you ??

[2016-08-03 16:01] danigomez commented on #36
Hi @andrerpena, we were thinking with Joni in a json structure like this:
[code]

As the name says in `steps` you will define each step that the wizard form will have, there you define for each step a key which will be used as a name for the step, and all the fields that are used for that step, also you will define a transition function that will be receive the "wizart context" containing all the

[2016-08-04 13:24] danigomez opened #65 "Are the Field and Layout schemas merged?"
Helloo @andrerpena, are you merging the layout and field data in this code??
[code]
If yes, why is the field and layout data in two different json?? is possible to configure the layout info in each field inside fields??

PS: I have an Squirtle xD

[2016-08-04 13:25] JonatanSalas commented on #31
@andrerpena I have been looking at redux-autoform and seems that formato it's not in the core. Maybe you have advanced on it. So I will close this issue. If I make a mistake, please re open it!

[2016-08-04 13:25] #31 closed

[2016-08-04 13:29] JonatanSalas commented on #38
I come here again to talk about the advance we have so you know it. This are the tasks that we have completed:
- [x] Make the library as a core and UI agnostic.
- [x] Make small git repositories for differents UI types components and expose an index.js api.
- [x] Make a git project as boilerplate for those collaborators who want to add it's own ui types.
- [x] Fix codecov and coveralls to view % o

[2016-08-05 12:50] andrerpena commented on #65
Haha.. I laughed at your Squirtle.

So, answering your question... Yes, I'm merging the **field from the layout** with the **field from the entity**.

Basically, this is how it works,  if you define a field in the entity and then define a field in a layout or layout group  with the **same name**, I merge all the metadata from these fields into one.

The reason why I do it so that you can **overrid

[2016-08-09 12:55] danigomez commented on #65
Got it! :smile:

[2016-08-09 12:55] #65 closed

[2016-08-10 01:20] andrerpena commented on #63
Yes.. This behavior seems to me like a replacement of `AutoFormInternal`. This is how it looks today:

[code]

We could potentially have multiple variations of it, including one that shows the percentage of completion. I don't find it a priority but I don't oppose to it. If you want to discuss it more.. Count me in :)

[2016-08-10 01:22] andrerpena commented on #58
Unfortunately I'm going through so much lately that I'm not even thinking about expanding this organization for now. I mean.. I'll continue to maintain RAF, definitely, but I unfortunately I can't bring in more projects right now. If you really want to do this, please reopen.

I appreciate your willingness to help.

[2016-08-10 01:22] #58 closed

[2016-08-10 01:23] andrerpena commented on #45
The documentation is at least organized for now. There are just some components missing. Also the tabs introduced by @JonatanSalas . I'll come back to this and close it when I'm done.

[2016-08-10 21:53] danigomez commented on #63
Hi @andrerpena!, I changed this form for a generic Root component definend in each UI, also it's possible in case to be necessary to pass properties to this root component to handle this issue.
I changed the Redux-Autoform and Redux-Autoform-Bootstrap-UI repos, the changes are in the experimental branch in each case, but in order to fully test this i need to publish both repos to test  that the Ro

[2016-08-11 22:15] suchostone opened #67 "Add Object type support in Metadata processor"
Hi guys!  Can you pls evaluate supporting objects inside the form?

e.g.:
[code]

Then in autoform I should be able in my fields to do something like below:

[code]

Thank you!

[2016-08-11 22:38] suchostone commented on #67
possible approach, similar as type: "array" already supported:

[code]

[2016-08-12 20:56] andrerpena commented on #67
@suchostone , I totally agree. Actually, these are the data-types I wanted to support and the current state:
- [ ] Entity
- [X] Array of Entity
- [X] Primitive
- [ ] Array of Primitive

You're asking the first one. This shouldn't be difficult to do and I'm the best one to do it because I did the metadata processor. I'll take a look into it.

Thanks for the proposal.

[2016-08-16 13:10] danigomez commented on #63
Hi @andrerpena, could you give us permissions to publish in redux-autoform??? :smile:

[2016-08-16 13:18] andrerpena commented on #63
Sure thing... I'll do it

On Tue, Aug 16, 2016 at 10:10 AM, Daniel Gómez notifications@github.com
wrote:

##

André Rodrigues Pena

[2016-08-16 13:18] JonatanSalas commented on #63
@andrerpena thank you guy! :smile:

[2016-08-16 13:20] andrerpena commented on #63
Done!

On Tue, Aug 16, 2016 at 10:18 AM, André Pena andrerpena@gmail.com wrote:

##

André Rodrigues Pena

[2016-08-17 21:11] danigomez opened #69 "Creating a "Wizard Context" using the redux-form state values"
Hi @andrerpena !!, We were trying to figure out how to get the form values from the Wizard in order to pass that values to the transition function, that will handle the steps transitions in case that you want to make it conditional. So we come to the idea to simply connect the group to the redux store and read the "form" (We can assume that the reducer is combined with that value, because that's w

[2016-08-17 22:01] andrerpena commented on #69
Hey @danigomez . I'm sorry, I didn't understand your question. Probably because I'm not 100% aligned with the way you're implementing this.

Why do you have to connect each group individually to the store? I mean... Doesn't it make sense that the entire wizard is **one form** from RF's perspective? I'm just saying. The advantage is that if one property **repeats** throughout the form, the values w

[2016-08-17 23:06] danigomez commented on #69
mmmm, maybe i wasn't clear enough with my question :stuck_out_tongue: . I have the following situation, let's say that i have the following schema and a layout using the WizardGroup:
[code]
In order to allow the user to evaluate a condition and after that jump to a specific step, i need some way to expose the field values that are currently loaded in the form, that way the user can evaluate using

[2016-08-18 19:09] danigomez commented on #69
Forget about this.... those values are automatically passed by RF..... :confused:

[2016-08-18 19:09] #69 closed

[2016-08-18 22:56] andrerpena commented on #69
I just came here to answer you. Good you found the answer already. Whatever that is :smile:

[2016-08-18 23:09] andrerpena opened #71 "Support text-expressions"
Ok, as @JonatanSalas mentioned. JSON doesn't support functions. Lints will complain and so forth.

We need to support text-expressions. I'm going to do it. This thread is just for discussion.

[2016-08-18 23:22] JonatanSalas commented on #71
Actually the possible workaround to use functions is to have the Schema stored in JS file. I mention this as a remember me.

Things that we have to deal with:
- special characters on strings
- define a way to help the metadata processor to recognize normal text vs text expressions

I think that's all..

[2016-08-18 23:56] danigomez commented on #69
I neede the fields of the RF... and then i realized as @JonatanSalas  pointed that those value are in....... (suspense music)..... the fields prop xD

[2016-08-19 00:14] andrerpena commented on #69
huaha that was funny

[2016-08-19 00:22] andrerpena commented on #71
So, I have the code to do it already. Because it happens to be supported in React-Metaform, which is also mine: https://github.com/gearz-lab/react-metaform

You got the point right! How do we know if a string is an expression?

on React-Metaform, this is how I did this:

[code]

The `_exp` prefix indicates a text expression.

**If you don't like it**, we can prefix the metadata itself. JS allows t

[2016-08-19 00:26] andrerpena commented on #71
I can solve this one fairly easily. I just didn't finish this one today because I got the password problem to solve which I did.

[2016-08-23 02:42] danigomez commented on #71
Hey @andrerpena !! So using the $ i can pass a function to a component???, i'm having troubles passing functions to the WizardGroup, it's wierd that in the demo is working but no in the project i'm doing.... :/

[2016-08-24 18:40] danigomez opened #73 "Visible fields are not cleared when they become not visible"
The fields with a visible function should not be sent if visible is false.

[2016-08-24 19:09] danigomez opened #74 "Add support for visible function on Groups"
It would be great to have the possibility to show or not a group of fields only applying a visible function over a group.

[2016-08-25 16:28] andrerpena commented on #74
This is a really good feature which is quite easy to implement. Also, on the RAF-BS, the groups should be collapsible.

[2016-08-25 16:30] andrerpena commented on #73
This is controversial. There might be use cases for not visible fields being posted, even though I clearly see why you're asking this.

We should use this thread to discuss the solution.

[2016-08-25 17:13] JonatanSalas commented on #73
@andrerpena @danigomez I was thinking that one possible workaround for this, it's to pass a visible prop, that all the components should receive. With this visible prop you evaluate the !visible case and handle the onChange with an undefined value.

This is one I think about and seems quite simple to do, Maybe I'm not seeing other things.. so let's discuss about it :smile:

[2016-08-25 18:51] andrerpena commented on #73
@JonatanSalas Again, it's controversial.

The fact that a field is not visible doesn't mean it doesn't have a value. And it doesn't mean it should be undefined.  In fact, a form may have several information relevant to functions that are not visible. And I don't think making a field invisible should clear it's value.

Let's think of something better and resume this discussion :smile:

[2016-08-25 19:07] JonatanSalas commented on #73
@andrerpena mmm okey, let me think it better

[2016-08-25 19:44] andrerpena commented on #73
One easy option would be to create a general `prop` called `submitInvisibleFieldValues` that defaults to false but you could turn on at will.

[2016-08-25 19:45] andrerpena commented on #73
I don't think values should be cleared when turned invisible. Conversely, @danigomez's problem is the values being submitted. Maybe we should just treat it as I mentioned above.

[2016-08-27 11:38] andrerpena commented on #18
Ok. I'm installing RF 6 now and I'll play around with it and I'll come back with a plan today

[2016-08-27 15:57] andrerpena commented on #18
@JonatanSalas and @danigomez  Ok.. This doesn't seem to be the nightmare I was previously expecting.. I'm creating a fork in which I'm making the simple provider in the demo to work. After that I'll move on the Bootstrap.

[2016-08-27 16:12] andrerpena opened #76 "Fix the demo project"
For some reason the demo project's got 2 button bars and I can't type more than one character in the input. That's really weird.

![image](https://i.imgur.com/bwoIZmB.png)

[2016-08-27 16:12] andrerpena commented on #76
I'm working on it

[2016-08-27 16:27] andrerpena commented on #76
@danigomez or @JonatanSalas Did you make any change that you think might be making the input to lose focus when you type in the default demo?

[2016-08-27 16:27] andrerpena commented on #76
For some reason the Bootstrap-UI demo works but the default one doesn't

[2016-08-27 16:35] JonatanSalas commented on #76
@andrerpena I will take a look, this is a stranger thing :disappointed_relieved:

[2016-08-27 16:37] JonatanSalas commented on #18
@andrerpena the big difference is the usage of a component called Field to sync with the store (Obviously that there are a lot of changes, but I think the big one is this).. that's why I tell you to add a HOC to wrap this new functionallity and apply to all the components we got on bootstrap-ui

[2016-08-27 16:42] andrerpena commented on #76
Thanks. No exception is being triggered, I can't continue with #18 until this is fixed.
It seems to me that you or @danigomez introduced something new and you fixed it on Bootstrap but forgot about the demo and now I don't have any idea why it isn't working. I'm investigating for 30 minutes now.

[2016-08-27 16:55] andrerpena commented on #18
@JonatanSalas  I'm not sure if that's what you call "adding a HOC to wrap this new functionallity", but what I'm thinking to do is to make the `getFieldComponent` function from the `ComponentFactory` to always return a RF `Field` component wrapping whatever the `ComponentFactory` returns.

So, if your `ComponentFactory` returns `componentX`, the `getFieldComponent` actually returns

[code]

This i

[2016-08-27 17:20] andrerpena commented on #76
Still tracking the problem but it seems that the problem goes away if I stop using @danigomez Root component.

This is the `AutoFormInternal.render` that works:

![https://i.imgur.com/l7KsDRI.png](https://i.imgur.com/l7KsDRI.png)

[2016-08-27 17:24] JonatanSalas commented on #76
This is strange :/ we are using the version released with tag experimental and they work really well with the @danigomez Root Component

[2016-08-27 17:29] danigomez commented on #76
@andrerpena, i just fixed it, i will commit the change! :smile:

[2016-08-27 17:29] andrerpena commented on #76
Doooontt.. I just did it

[2016-08-27 17:30] andrerpena commented on #76
The problem is that the root component cannot be stateless

[2016-08-27 17:30] andrerpena commented on #76
I appreciate your time fixing it.

[2016-08-27 17:31] andrerpena commented on #76
The only thing I still don't quite understand is why the root component can't be stateless :cry:

[2016-08-27 17:31] #76 closed

[2016-08-27 17:33] andrerpena commented on #76
Oh I **think** I know now. Stateless components are **always** rerendered when the props change. When you rerender the entire form, all component automatically lose focus. And that was happening when you change any field.

[2016-08-27 17:39] andrerpena opened #77 "Why is this on experimental state now?"
@danigomez and @JonatanSalas , what exactly is the feature that keeps this version in experimental state, just out of curiosity?

[2016-08-27 17:41] danigomez commented on #77
The changes on AutoformInternal for the Root component, autoform-utils is also in experimental for the same reason and bootstrap-ui for the Wizard, but if you're okay with those changes we can just release in latest!! :smile:

[2016-08-27 17:46] andrerpena commented on #77
Ah ok. The form itself seems to be in an ok state. I still didn't have the time to look into the Wizard :disappointed:  I'm sorry. If you're not that confident yet, we should keep that in experimental :smile: Thank you.

[2016-08-27 17:47] #77 closed

[2016-08-27 18:02] andrerpena commented on #18
Now that the demo is working, I'll start to work on this and I'll keep you informed as I have progress.

[2016-08-27 18:05] JonatanSalas commented on #18
What you are going to do is a high order component haha

[2016-08-27 18:08] andrerpena commented on #18
@JonatanSalas I understand HOCs as being components that wrap everything, like the `Provider` from `Redux`, or `Route` from `Redux-Router`, but if we stretch the concept to accommodate wrapping individual components, than I'm building a HOC :smile:

[2016-08-27 20:08] JonatanSalas commented on #18
@andrerpena Not necessary a HOC wraps everything. Provider and Route aren't HOCs.
Connect from redux and withRouter from react-router are HOCs.

A HOC is used to extend the functionallity of a component, you use a HOC if you have a same logic applied to all components, so in order to not repeat the code you create a function that wraps this functionallity onto the components that share the same lo

[2016-08-27 20:09] JonatanSalas commented on #18
@andrerpena the HOC is the es6 replacement for React mixins

[2016-08-27 20:13] andrerpena commented on #18
Thanks for the explanation. I really didn't know that. Can you please provide an URL where I can look at it?

[2016-08-27 20:29] JonatanSalas commented on #18
Sure thing! Here you got a good one from Dan Abramov: https://facebook.github.io/react/blog/2016/07/13/mixins-considered-harmful.html#higher-order-components-explained

[2016-08-27 20:33] JonatanSalas commented on #18
So we could have a function like this:

[code]

and use like this:

[code]

[2016-08-28 10:56] andrerpena commented on #18
Thanks @JonatanSalas. Now I understand. And now I agree with you on

Yes, now I know we should return a HOC, but the solution is the same as before: `buildFieldComponent` from the component factory should always return a `Field`. The drawback is that the component factory project now will have a reference to `Redux-Form` but, on the flip side, there's no way around it. I could delegate the `conver

[2016-08-28 12:30] andrerpena commented on #18
The biggest difference is that `AutoFormInternal` used to receive a `fields` array with all RF metadata for each field (name, onChange, onBlue...) and now it doesn't anymore. This is exactly what the `Field` component is for.

I'm working on it.

[2016-08-31 14:47] danigomez opened #78 "Values are not getting passed to component when redux-form fields are prepopulated"
Hi @andrerpena, @JonatanSalas  !, we found what we think is a bug, when you modify the redux-form fields with prepopulated data the "value" prop is not getting loaded, it only occur for the following components:

- DateTimePicker
- FileUpload

For the other components this is working.....

[2016-08-31 15:55] andrerpena commented on #78
It's definitely a bug. Thanks for reporting. At least the `DateTimePicker` I can take a look.

[2016-09-03 21:33] JonatanSalas opened #80 "I18n Support"
Actually this is not supported. So, I open this thread to discuss about how it's the best way to do this. I18n is really important in applications, and redux-autoform should take care of this is order to win more users.

@andrerpena @danigomez I invite you to discuss about this, and think about the best solution so I can keep work on it :smile:

[2016-09-03 21:34] JonatanSalas commented on #71
@andrerpena how are you going with this? Do you need some help?

[2016-09-03 21:45] andrerpena commented on #71
In metadata properties starting with $ functions are not supposed to be
evaluated so yes.. You are supposed to be able to pass functions to your
components

Em 22 de ago de 2016 23:42, "Daniel Gómez" notifications@github.com
escreveu:

[2016-09-03 21:50] JonatanSalas commented on #71
Ok, this is good! So this issue can be closed?

[2016-09-03 21:55] JonatanSalas commented on #73
@andrerpena how are we supposed to use this prop? I don't understand at all how this prop should be used to avoid sending not visibile field values..

[2016-09-03 21:57] JonatanSalas commented on #36
@danigomez you have implemented this already.. Should we close this issue?

[2016-09-03 22:03] danigomez commented on #36
Yep, close It!

[2016-09-03 22:29] #36 closed

[2016-09-03 22:29] JonatanSalas commented on #36
Good :smile:

[2016-09-03 22:31] JonatanSalas commented on #63
I will move this issue to both UI because Root component it's now on them.

[2016-09-03 22:31] #63 closed

[2016-09-05 00:49] andrerpena commented on #71
If there's not a confirmed bug then yes, this should be closed. I didn't test it again though

[2016-09-05 00:52] andrerpena commented on #73
What I mean is:

An easy solution (not necessarily the best) would RAF to have a property called `submitInvisibleFieldValues` that defaults to true (I said false earlier but I think it should be true). Then, upon submittion, a `processor` function should process the object before it's actually submitted, and then it would clear out properties that are invisible. That's how I think it should work.

[2016-09-05 00:53] andrerpena commented on #36
I didn't see this yet but I'm looking forward to it. I just didn't have the time. Does it have a demo?

[2016-09-05 01:14] JonatanSalas commented on #36
@andrerpena yes, it's published with the material ui demo! And it's in the bootstrap demo, but it's not updated in github pages u.u

[2016-09-05 01:23] JonatanSalas commented on #71
Ok, I will close it! If we have a trouble we will reopen it

[2016-09-05 01:23] #71 closed

[2016-09-05 17:39] danigomez opened #82 "Add refs in every field created in ComponentFactory."
Hi @andrerpena, @JonatanSalas !, In order to handle the focus in a field in case of error i was thinking to add a `ref="<field_name">` when the field is created in the Factory, if i'm not mistaken doing this we can handle`this.refs.<field_name>.focus()` inside the Group, because each field will be a children in the group, what do you think????

[2016-09-07 13:34] danigomez commented on #78
For the `DateTimePicker`case, it seems that the problem comes when using a Date field in Mongo, the date is saved as and `ISODate()`. For example, `ISODate("2016-09-06T16:30:19.728Z")`, when the dateLocalizer parse this value as an ISOString `2016-09-06T16:30:19.728Z`, it parses it correctly but then, it is evaluated as a not valid date in the `m.isValid()` method..... I think that the problems co

[2016-09-07 14:47] JonatanSalas opened #83 "ButtonToolbar should receive more props than submitting?"
I have been thinking about this, ButtonToolbar actually just receives the prop submitting. Would be good if ButtonToolbar receives too the pristine value as prop and the errors object as prop?

I'm asking this, because it would be good to block the submit button on those case when you have errors that aren't validated with the current Validators that redux-autoform core provides, this would acts a

[2016-09-07 15:22] JonatanSalas commented on #83
I will add support to this, as a workaround and launch an experimental tag version to use it. Then when you can, we can discuss a better solution :smile:

[2016-09-07 15:58] andrerpena commented on #83
I think that it makes sense that button bar receives something that informs it whether or not there has been any errors.

[2016-09-07 17:37] JonatanSalas commented on #83
@andrerpena @danigomez Well, this is currently supported now. I have publish an experimental tag version to use it and test in other UI libraries! :smile:

[2016-09-07 19:16] JonatanSalas commented on #83
Reopen because of a bug I have introduced when iterating the fields to get the errors. The current code work in all case except when you use and ArrayContainer. I'm working to fix this issue and updating the demo to add the ArrayContainer and test it's behaviour.

[2016-09-07 22:08] JonatanSalas commented on #83
done!

[2016-09-07 22:11] #83 closed

[2016-09-08 16:36] JonatanSalas opened #84 "Issue with Fields"
I'm working with Material UI extension and I have the following trouble. In order to be able to show the errors string in a Component I evaluate the values touched and active received from redux-autoform.

Those values don't update when I'm performing a touch on the TextBox and I start to make my input. I have logged the node_modules redux-autoform version that I have, that It's the latest in expe

[2016-09-08 20:41] JonatanSalas commented on #84
With Bootstrap works only the touched property, so I suppose this could be related to react-tap-event-plugin and redux-form not triggering an touched event. I have to look this better.

[2016-09-08 21:07] andrerpena commented on #84
@JonatanSalas , I may be wrong, but I think `touched` will be set to `true` on 2 situations:
- When you change the field
- When you "blur" the field (click on it and then leave)

In order for the second to work, you have to pass the Redux-Form `onBlur` handler to the input. I think you're not doing this because I tested on your demo. If you click and leave a field it's not being marked as touched

[2016-09-08 21:10] JonatanSalas commented on #84
oooooooooooooooooooooooooooooh I'm a fooooool :( thank you!

[2016-09-08 21:26] JonatanSalas commented on #84
Solved! Thank you very much!

[2016-09-08 21:26] #84 closed

[2016-09-08 21:33] andrerpena commented on #84
:smile:

[2016-09-09 01:42] andrerpena commented on #18
I'll update the progress here as I go further

## Progress
- [x] Make it render and update state based on input, with no errors
- [ ] Validation
- [ ] Metadata processing based on functions
- [ ] Arrays

[2016-09-09 01:43] JonatanSalas commented on #18
@andrerpena good! Really good! :smile:

[2016-09-09 01:57] JonatanSalas commented on #82
@andrerpena since you are working in the redux-form v6 solution could you consider to use the Field component prop withRef and set a ref that points to the name of the field?

[2016-09-09 01:58] JonatanSalas commented on #67
@andrerpena could you take a look at this one, please? :smile:

[2016-09-09 01:59] JonatanSalas commented on #49
Since there is another issue for test coverage open, I think closing this one.

[2016-09-09 01:59] #49 closed

[2016-09-09 02:03] JonatanSalas commented on #73
@andrerpena when you can I want you to introduce me in the concepts behind your metadata processor, so I can help you to make this greater :smile:

[2016-09-09 02:08] JonatanSalas commented on #38
Since we have the other issues active I will close this one. Because the biggest changes that we want to make in AutoForm just finished.

[2016-09-09 02:08] #38 closed

[2016-09-09 02:09] JonatanSalas commented on #78
@andrerpena what's your opinion on this? :open_mouth:

[2016-09-10 02:38] andrerpena commented on #78
I understand the problem now.

Basically, the built-in [moment localizer](https://github.com/redux-autoform/redux-autoform-utils/blob/master/src/localization/momentLocalizer.js) supports you passing a moment instance in. So, you can default the default **culture** but you cannot define the default format.

The format will always be:

[code]

These formats, L, LT and lll are Unicode and are defined

[2016-09-10 02:40] JonatanSalas commented on #78
Genius! Thank you so much! We will take a look the next week! :)

[2016-09-10 02:46] andrerpena commented on #82
I'll take this into account on the RF6 refactoring

[2016-09-10 02:52] andrerpena commented on #18
Just a quick update.

The reason why they refactored the entire thing is that they want to prevent the form from rerendering on every key-press. That makes all sense. The problem is that RAF depends on it because every metadata should be reprocessed every time. That's how the reactiveness of RAF works.

So, in order to circumvent this problem temporarily, I'll use Redux `connect` to grab the field

[2016-09-10 03:09] JonatanSalas commented on #82
Thank you!

[2016-09-12 11:04] devang-kredx opened #86 "Is there an example of rendering the form with initial values"
There are some issues which seem to indicate that there is a demo which exemplifies how I can use autoform with initial values. Can someone please provide a link here, can't find it

[2016-09-12 15:20] devang-kredx commented on #86
Found it in the react-autoform-bootstarp-ui example. Need to pass another prop- `initialValues`

[2016-09-12 15:20] #86 closed

[2016-09-13 05:23] devang-kredx commented on #67
Is there a work around available to do it today? The objects in the form I am creating are quite deep and would really like to be able to use autoform in the state it is in today even though it might need more work right now :)

[2016-09-13 05:30] devang-kredx opened #87 "onBlur is not a function with FieldGroups"
Am getting the following error when using autoform with groups using bootstrap EditComponentFactory.

[code]
const schema =
{
    entities: [
        {
            name: "repaymentAmount",
            fields: [
                // Amount Pending
                {
                    name: "amount_pending.total",
                    displayName: "Total",
                    type: "float"

[2016-09-13 10:22] JonatanSalas commented on #87
The problem is around Group or FieldGroup? They are different components. Which version of Redux Autoform Bootstrap are you using?

[2016-09-13 10:31] andrerpena commented on #67
I'll try to solve this one tonight. Don't worry =)

[2016-09-13 14:17] devang-kredx commented on #87
@JonatanSalas I am using the following- `"redux-autoform-bootstrap-ui": "^1.6.0",`

How to distinguish between groups and field groups. I am using the schema (as provided above) inspired from this [demo](https://redux-autoform.github.io/redux-autoform-bootstrap-ui/demo.html?preset=componentsFieldGroup) and the autoform usages as-

[code]

[2016-09-13 14:38] JonatanSalas commented on #87
Seems to be a bug in the latest version. Try testing in the demo your schema. It should work.

We are working a lot on this, so maybe it could be some troubles. Later I will check it out. If you want you can use instead of the release package, the package we use to test the latest features.

Do the following in console:

[code]

And take the latest one with **-experimental**

Another thing, the pr

[2016-09-13 16:13] devang-kredx commented on #87
Hmm.... the schema works on the demo. But using the latest -experimental version or 1.0.1 of redux-autoform-bootstrap-ui continues to give the same error.

[2016-09-13 18:55] andrerpena commented on #87
@devang-kredx , thanks for the report.

The problem has nothing to do with FieldGroup. FieldGroup is a `type`/`component` so you can display a group occupying the space of a field.

I don't know what this error is. I'll investigate, but one thing is for sure. `amount_pending.total` is not a valid identifier for a field. We should probably have some sort of validation.

I'll investigate and let you

[2016-09-14 03:55] devang-kredx commented on #87
@andrerpena The problem was indeed due to dot notation. Removing the dot notation from field names fixed this issue.

[2016-09-14 12:22] andrerpena commented on #87
Ok good. Thank you

[2016-09-14 12:22] #87 closed

[2016-09-15 08:03] devang-kredx commented on #67
Just in case someone is stuck on this issue and wants to start using autoforms **today**, a hack I am using to support nested objects is to flatten it, use that to create the auto forms and populate initial values, and unflatten it when using the values to call the api. Code below to flatten/unflatten, modified slightly from [here](http://stackoverflow.com/a/19101235/712476) to make it compatible

[2016-09-15 14:00] devang-kredx opened #91 "Bug in Float Value"
Putting a 0 value gives "Invalid decimal"
https://redux-autoform.github.io/redux-autoform-bootstrap-ui/demo.html?preset=componentsTextBoxFloat

[2016-09-15 14:14] JonatanSalas commented on #91
I will take a look at it! Thank you!

[2016-09-15 14:21] JonatanSalas commented on #67
This is a really good idea! Thanks for your work around!

[2016-09-15 14:49] andrerpena commented on #67
Thanks for this workaround. I'll implement this ASAP. It's just not being
easy for me to find time. You can expect a solution until the end of this
week.

Em 15 de set de 2016 11:21, "Jonatan E. Salas" notifications@github.com
escreveu:

[2016-09-15 18:13] andrerpena commented on #91
Thanks for reporting

[2016-09-15 18:34] andrerpena commented on #67
I'm looking at the current codebase and it seems that the `entity` type is supported already, from the metadata processing stand point. I just think we don't have any UI component. I'll figure this out today.

[2016-09-16 01:52] andrerpena commented on #67
I think I got it covered: https://redux-autoform.github.io/redux-autoform-bootstrap-ui/demo.html?preset=EntityContainer

The fix was on the BS-UI version 1.7.1-experimental

If something doesn't work as expected, feel free to reopen it.

[2016-09-16 08:40] devang-kredx commented on #67
Entity support seems to work, but am not able to layout the entity fields in a horizontal manner. For example, if in the [demo](https://redux-autoform.github.io/redux-autoform-bootstrap-ui/demo.html?preset=EntityContainer), I want to have the `type` and `address` fields to be in the same row (size 6), I am unable to do that.

[2016-09-16 13:29] andrerpena commented on #67
Thanks for the feedback. I'm reopening and will take a look ASAP.

[2016-09-21 10:44] devang-kredx commented on #91
@JonatanSalas Checking in to see if there is any estimate by when this bug would be resolved?

[2016-09-21 11:00] JonatanSalas commented on #91
I will take a look this weekend. Because this week I'm with a lot of work :/

[2016-09-21 13:04] devang-kredx commented on #91
Just FYI, the issue is that the following code is being triggered with 0 float value. Not sure why.
https://github.com/redux-autoform/redux-autoform-utils/blob/master/src/localization/numbroLocalizer.js#L18

[2016-09-21 13:11] andrerpena commented on #91
OMG.. Good catch. Those should be ===.  I didn't analyze it further but
that's what I think at first sight. Can someone send a PR?

Em 21 de set de 2016 10:04 AM, "devang-kredx" notifications@github.com
escreveu:

[2016-09-21 16:03] devang-kredx commented on #91
Looks like its already fixed in autoforms-utils. Anything needs to be
changed in react-autoform to pick this fix?

On Wed, Sep 21, 2016 at 6:42 PM André Pena notifications@github.com wrote:

[2016-09-21 18:22] andrerpena commented on #91
I ended up fixing the line you pointed out. If this is not the only source of the problem, this is surely one.

We need to publish a new version of the utils, update the redux-autoform reference and republish it. I don't know if I'll be able to do it in a timely manner because I got lots of work. But I'll try as soon as I can.

[2016-09-27 15:55] devang-kredx commented on #91
Closed via #96

[2016-09-27 15:55] #91 closed

[2016-10-04 20:02] andrerpena commented on #18
I'm in need for help so I posted this issue on RF6, I hope they answer it, even though I find this unlikely since they got 362 issues :cry:

https://github.com/erikras/redux-form/issues/1904

[2016-10-05 01:12] JonatanSalas commented on #18
@andrerpena okey, let's wait for a response.

We now can focus on improving our view components library if you want! And adding another features to autoform like i18n, readOnly fields, more validators, support for async validation

[2016-10-05 12:58] andrerpena commented on #18
ok @JonatanSalas , let's do it

[2016-10-05 13:38] JonatanSalas commented on #18
Great! Thank you! :)

[2016-10-06 13:27] danigomez opened #100 "Handle required error in ArrayContainer"
As far as i checked, the fields with type array are being submitted when they are required even if there are no items loaded!, i think that maybe the problem is that the array field is not created as an redux-form field....

[2016-10-07 12:10] JonatanSalas commented on #100
@andrerpena here I need a little bit of your help!

[2016-10-07 13:11] andrerpena commented on #100
This weekend I'll be able to spend some time looking into it.

On Fri, Oct 7, 2016 at 9:10 AM, Jonatan E. Salas notifications@github.com
wrote:

##

André Rodrigues Pena

[2016-10-07 13:28] JonatanSalas commented on #100
@andrerpena Thank you so much!

[2016-10-27 13:33] danigomez opened #105 "Research if is possible to migrate all the Metadata validation using AJV"
https://github.com/epoberezkin/ajv
https://github.com/json-schema/json-schema/wiki/v5-Proposals

[2016-11-02 17:08] danigomez commented on #105
It seems that the JSON Schema spec support recursive definitions using JSON Pointers ($ref to the definition file who has a property that points to itself), the thing that's left to solve is how to handle the functions that could be passed to any field prop and evaluated in the expression helper.

[2016-11-02 18:04] JonatanSalas commented on #105
Great, only rest to know how to manage the functions

[2016-12-22 17:05] vedrani opened #118 "Update to react-redux v5"
Update package.json to support not only react-redux V4 but also V5. V5 is back-compatible to V4 but have improvements in performance.

https://github.com/reactjs/react-redux/releases/tag/v5.0.0

[2016-12-22 17:32] JonatanSalas commented on #118
There's a PR from greenkeeper now #116. I will merge it now, test a little bit, and afternoon I will release a newer version!

Thanks!

[2017-01-13 20:37] suchostone opened #125 "dirty or pristine form property"
Hi guys! hope u are doing well. Any chance to expose dirty or pristine property from redux form in order to track whether the form was changed from its original state/shape?

Thank you!

[2017-01-30 15:25] vedrani commented on #118
Hi,

When you plan to publish new version with react-redux v5?
You should also update dependency on redux-form V5 to 5.3.4.
This should be straightforward because react-redux v5 is back-compatible.
If I can help, please tell. Thanks :)

https://github.com/erikras/redux-form/releases/tag/v5.3.4

[2017-02-24 00:35] JonatanSalas commented on #118
@vedrani this is currently updated! I have added react-redux v5, and also redux-form v5.3.4! The latest release v0.12.0-experimental updates both dependencies!

[2017-02-24 00:35] #118 closed

[2017-02-24 00:37] JonatanSalas commented on #12
This issue should go to the ui modules!

[2017-02-24 00:37] #12 closed

[2017-03-03 19:39] JonatanSalas commented on #125
@suchostone Recent published v0.13.0-experimental should solve this issue! Update your dependencies.

[2017-03-03 19:39] #125 closed

[2017-03-09 17:47] JonatanSalas commented on #40
@danigomez This issue is directly related to #18. As we have been talking, if we can integrate redux-form v6 successfully then, we can use the Field and FieldArray components in order to give them the event callbacks.

Also, we have proposed this structure for the json field in the layouts:

[code]

[2017-07-12 10:26] Aman725 commented on #18
Hey @andrerpena @JonatanSalas,
Firstly thank you for your awesome work on this project, it has helped me produce lots of redux forms at a faster pace.
Just wanted to know are there any plans for resuming this RF6/RF7 migration.

[2017-07-12 13:30] JonatanSalas commented on #18
@Aman725 I was working on a newer version of redux-autoform in a new repository, see https://github.com/redux-autoform/redux-autoform-next.

The trouble is that I've been with a lack of time, and I can't work over it. I'm trying to find some free time to spend and see if it's possible to make a newer release.

If you want to contribute, please, let me know, and I will put in contact with you to se

[2017-07-12 14:14] Aman725 commented on #18
yeah sure count me in will try to spend an hour a day for this project.

[2017-07-12 19:31] JonatanSalas commented on #18
@Aman725 great! I will invite you to access the next repository.

[2017-08-07 12:59] MobileAppVault opened #293 "Error: 'model' should be truthy"
Hi,

I've implemented redux-autoform in my app like this:

[code]

`Error: 'model' should be truthy
    at Error (native)
    at Function.process (...node_modules\redux-autoform\lib\metadata\model\ModelParser.js:59:31)
    at AutoFormInternal._this.buildGroupComponent (...node_modules\redux-autoform\lib\AutoFormInternal.js:68:47)
    at AutoFormInternal.render (...node_modules\redux-autoform\lib\A

[2017-08-07 13:26] JonatanSalas commented on #293
@MobileAppVault why are you using redux-form package? Redux-autoform wraps redux-form to generate the form dynamically.

Then your code should look like this:

[code]

Redux-autoForm currently doesn't support redux-form v6/7. There is some work on it, but I have to stopped due to a lack of time.

[2017-08-07 13:33] MobileAppVault commented on #293
So when  i try to run redux-autoform without installing "redux-form" than I get the following error

[code]

[2017-08-07 13:42] JonatanSalas commented on #293
You need to install redux-form v5! It's a redux-autoform peer dependency. You can install it by executing:

[code]

or

[code]

Hope it helps!

[2017-08-07 13:45] MobileAppVault commented on #293
Ok, I've try this but now I get:  :(

`Invariant Violation: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined.`

[2017-08-07 13:59] JonatanSalas commented on #293
Bad mine, I forget you to specify buttonBar prop in AutoFormProps. I have made an example based from CRA. The code that works is the following one:

[code]

Let me know if it works for you!

[2017-08-07 14:11] JonatanSalas commented on #293
@MobileAppVault here you have the repo I have made -> https://github.com/JonatanSalas/redux-autoform-test

[2017-08-07 14:25] MobileAppVault commented on #293
Ok many thanks this works! I had a typo in my code :(

[2017-08-07 14:25] #293 closed

[2017-08-07 14:28] JonatanSalas commented on #293
@MobileAppVault you're welcome! Let me know if you need something else!

[2017-10-16 21:38] JonatanSalas opened #295 "Redux-AutoForm with v6/v7"
Currently, I find myself working on a newer version of redux-autoform completely re write from the ground. So we can provide a more declarative API and also keep the older schema model.

The newer version of redux-autoform will let us increase things that we can't do with the current version. The things I currently have in mind are the following ones (this issue also, will be a way to track the st

[2017-10-16 21:40] JonatanSalas commented on #18
This is currently solved. I'm working on a private repo that will merge with this one when I have more UI-libraries supported.

[2017-10-16 21:40] #18 closed

[2017-10-16 21:42] JonatanSalas commented on #5
In the repo of v1, metadata is provided via React Context-API, and each component access things through a Component with a render-prop.

[2017-10-16 21:42] #5 closed

[2017-10-16 21:43] JonatanSalas commented on #15
With v1 repo this has first class support

[2017-10-16 21:43] #15 closed

[2017-10-16 21:44] JonatanSalas commented on #40
With v1 repo this has first class support. We're not going to implement this for currently redux-autoform.

[2017-10-16 21:44] #40 closed

[2017-10-16 21:45] JonatanSalas commented on #82
With v1 repo this has first class support.

[2017-10-16 21:45] #82 closed

[2017-10-16 21:45] JonatanSalas commented on #80
Currently implemented in v1 repository

[2017-10-16 21:45] #80 closed

[2017-10-16 21:47] JonatanSalas commented on #105
Not needed! In newer version of redux-autoform you'll have a declarative way to write forms, and also, we'll keep old schema support.

[2017-10-16 21:47] #105 closed

[2017-10-16 21:51] JonatanSalas commented on #78
@danigomez this was fixed?

[2017-10-20 02:29] JonatanSalas commented on #295
If you want to track my progress I'm current working on [personal public repository](https://github.com/JonatanSalas/autoform-next) that will be merged against redux-autoform repository when finished.

[2018-02-20 10:16] nagamohanm opened #296 "Redux Autoform Material UI fails to work"
Hi,

When I try to use redux-autoform-material-ui, I am getting the following error:
`Uncaught TypeError: Cannot read property 'array' of undefined
   at Object.defineProperty.value (Root.js:54)
   at __webpack_require__ (bootstrap bcc975b2ee732410aa4f:19)
   at Object.defineProperty.value (MaterialUIFactory.js:13)
   at __webpack_require__ (bootstrap bcc975b2ee732410aa4f:19)
   at Object.definePr

[2018-02-20 12:15] JonatanSalas commented on #296
@nagamohanm the trouble is that with React v16 PropTypes is not anymore part of the React bundle. It has its own package called prop-types.
I will update today at night all the packages to use the prop-types library.

In the meantime, would you mind to use React v15?

[2018-02-20 12:46] nagamohanm commented on #296
@JonatanSalas
Thank you for the quick response. Unfortunately, the client requires me to use the "latest" react bundle.

One quick update (though it was done noobish-ly):

I updated react to v16 in redux-autoform-material-ui and imported PropTypes from 'prop-types', I encountered a few issues with regard to the 'form' element in Root.js

This may or may not help you, but just wanted to put across

[2018-02-20 19:43] JonatanSalas commented on #296
@nagamohanm Great! Thanks for the feedback! I will review at night.

[2018-03-04 21:18] JonatanSalas commented on #296
@nagamohanm I'm currently reviewing it. I have updated all the codebase from the material-UI library.
I will review redux-autoform repository, and also all the UI-libraries.